/* 
.search-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;

    border-radius: 5px;
    overflow: hidden;

    width: 100%;
    flex-grow: 1;
    max-width: 400px;
}

.search-bar input,
.search-bar input:active,
.search-bar input:focus {
    outline: none;
    border: none;
}

.search-bar input {
    width: 100%;
    padding: 8px;
}

.search-bar input::placeholder {
    font-weight: 600;
}

.search-bar button {
    outline: none;
    border: none;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ffce12;
}

.search-bar button:hover {
    background: #ecc00d;
} */